@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 90vw;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login {
        float: right;
        width: 70%;
    }

    #formulário > h1 {
        font-size: 2.5em;
    }

    #formulário > p {
        font-size: 1em;
    }
    
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 950px;
    }
    
    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #formulário{
        float: left;
        width: 50%;
    }

    #formulário > h1 {
        font-size: 3em;
    }

    #formulário > p {
        font-size: 1.2em;
    }

}

    



